# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.vscode/
test_results
reports
*.png
__pycache__/
venv
report.json
.idea
debug.log
reports/*.xml
